.portfolio {
  background-color: #202020;
}

.portfolio__container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 0 125px 0;
}

.portfolio__title {
  color: #8B8B8B;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__project-items {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0 0;
}

.portfolio__project-link {
  background: transparent url("../../images/arrow-top-right__icon.svg") no-repeat right center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  transition: opacity .7s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.portfolio__project-link:hover {
  opacity: .6;
}

.portfolio__project-item:nth-child(-n+2) {
  border-bottom: 1px solid #424242;
  padding: 0 0 19px 0;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1155px) {
  .portfolio__container {
    max-width: 900px;
  }
}

@media screen and (max-width: 910px) {
  .portfolio__container {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    max-width: 660px;
    padding-bottom: 90px;
  }

  .portfolio__title {
    color: #A0A0A0;
  }

  .portfolio__project-item:nth-child(-n+2) {
    border-bottom: 1px solid #E6E6E6;
  }

  .portfolio__project-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 660px) {
  .portfolio__container {
    max-width: 292px;
    padding-bottom: 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__project-items {
    margin-top: 40px;
  }

  .portfolio__project-link {
    font-size: 18px;
    line-height: 28px;
  }
}
