.promo {
  margin: 0 auto;
  max-width: 1140px;
  min-height: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../images/logo__promo.svg') no-repeat center center;
}

.promo__title {
  margin: 0;
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .promo {
    min-height: 784px;
  }
}

@media screen and (max-width: 660px) {
  .promo {
    min-height: 570px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }
}

