.navigation-promo {
  height: 66px;
  background: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-promo__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-promo__list-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-promo__list-item-link {
  color: #FFF;
  text-decoration-line: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  transition: opacity .7s ease-in-out;
}

.navigation-promo__list-item-link:hover {
  opacity: .5;
}

@media screen and (max-width: 400px) {
  .navigation-promo__list-item-link {
    font-size: 11px;
  }
}
